In [66]:
import pandas as pd
import numpy as np

num_topic = 10
# path = f"/Users/bishalsainju/Desktop/DataViz/whisper2/whisper/whisperVis/data/topicModeling/pro/{num_topic}/gamma.csv"
path = f"/Users/bishalsainju/Desktop/DataViz/whisper2/whisper/whisperVis/data/topicModeling/con/{num_topic}/gamma.csv"

df = pd.read_csv(path)
display(df.head())
print(df.shape)

   document  topic     gamma
0         1      1  0.332495
1         2      1  0.302397
2         3      1  0.105602
3         4      1  0.039059
4         5      1  0.037483

(329800, 3)

In [67]:
num_docs = df[df.topic == 1]["document"].count()
print(num_docs)

32980

## Getting the documents Review Text

In [70]:
# proFilePath = "~/Desktop/R_js/data/pro_doc_sampled.csv"
proFilePath = "~/Desktop/R_js/data/con_doc_sampled.csv"

proData = pd.read_csv(proFilePath)

proData.head()
print(proData.shape)

(32988, 15)

In [71]:
# doc_removed = np.asarray([1139, 1991, 2100, 20740]) # For Pro
doc_removed = np.asarray([1119, 7887, 7977, 8034, 10191, 13929, 22434, 24612]) # For Con


proData.drop(proData.index[doc_removed-1], inplace = True)
proData["Doc_Num"] = range(1, num_docs+1)
proData.head()

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name,Doc_Num
0,0,1.0,0,2019,"Management, communication, workforce, and clea...",clean commun manag manag_commun,"['clean', 'commun', 'manag', 'manag_commun']",4,1.0,1.0,1.0,1.0,1.0,1,Walmart,1
1,1,1.0,1,2014,ovebearing managers lack of staffing poor wages,lack manag poor staf wage manag_lack,"['lack', 'manag', 'poor', 'staf', 'wage', 'man...",6,3.0,1.0,1.0,1.0,3.0,1,Walmart,2
2,2,5.0,0,2015,"Benefits, associate pay, and lack of help duri...",associ benefit help holiday lack pay lack_help...,"['associ', 'benefit', 'help', 'holiday', 'lack...",8,5.0,5.0,5.0,5.0,5.0,1,Walmart,3
3,3,5.0,0,2018,had to waste our breaks waiting in line to pur...,break food item line wait wast,"['break', 'food', 'item', 'line', 'wait', 'wast']",6,5.0,5.0,5.0,5.0,5.0,1,Walmart,4
4,4,5.0,0,2019,"Short breaks, and get stationed in different d...",break depart differ short store time differ_de...,"['break', 'depart', 'differ', 'short', 'store'...",8,5.0,5.0,5.0,3.0,4.0,1,Walmart,5

In [72]:
former_doc = proData[proData.Job_Status == 0]
current_doc = proData[proData.Job_Status == 1]

print(former_doc.shape[0]+current_doc.shape[0])

32980

In [ ]:
print(len(former_doc))

In [73]:
df.groupby(["topic"])["gamma"].sum()

topic
1     3897.584733
2     3824.301812
3     2924.044194
4     2949.557393
5     3272.537423
6     2350.138405
7     4008.759584
8     4156.006687
9     3007.804074
10    2589.265695
Name: gamma, dtype: float64

In [75]:
lst = []
for t in range(1, num_topic+1):
    
    pro_top = df[df.topic == t]
    former_gamma = pro_top.loc[pro_top['document'].isin(former_doc.Doc_Num.tolist())]["gamma"].sum()
    current_gamma = pro_top.loc[pro_top['document'].isin(current_doc.Doc_Num.tolist())]["gamma"].sum()
    tot_gamma = (former_gamma + current_gamma)
#     print(f"{t}: {tot_gamma}")
    lst.append([t, round(former_gamma/tot_gamma, 2), round(current_gamma/tot_gamma, 2)])

print(lst)

[[1, 0.67, 0.33], [2, 0.67, 0.33], [3, 0.69, 0.31], [4, 0.71, 0.29], [5, 0.65, 0.35], [6, 0.67, 0.33], [7, 0.64, 0.36], [8, 0.65, 0.35], [9, 0.65, 0.35], [10, 0.65, 0.35]]

In [76]:
 pro = pd.DataFrame(lst, columns=["Topic", "Former", "Current"])

In [77]:
pro

   Topic  Former  Current
0      1    0.67     0.33
1      2    0.67     0.33
2      3    0.69     0.31
3      4    0.71     0.29
4      5    0.65     0.35
5      6    0.67     0.33
6      7    0.64     0.36
7      8    0.65     0.35
8      9    0.65     0.35
9     10    0.65     0.35