In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("~/Desktop/workspace/indeed/Job-Satisfaction/data/companies/1_Walmart/output_data/px_data4/pros.csv")

In [3]:
df

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Unigrams,Bigrams,Trigrams,Work_Life,Benefits,Job_Advancement,Management,Culture
0,0,1.0,0,2019,The only good part for me was it was close to ...,close hous,NaN,NaN,1.0,1.0,1.0,1.0,1.0
1,1,5.0,0,2019,Benefits,benefit,NaN,NaN,3.0,4.0,3.0,4.0,4.0
2,2,1.0,0,2019,Some decent employees work there,decent employe,NaN,NaN,2.0,2.0,1.0,1.0,3.0
3,3,2.0,0,2019,free luch on thankgiving sometimes they offer ...,free luch offer sometim time,NaN,NaN,3.0,3.0,3.0,1.0,1.0
4,4,3.0,0,2019,"15-minute breaks, 60-minute lunches in my stor...",break health insur lunch store vision,NaN,NaN,3.0,4.0,4.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81128,81128,3.0,1,2011,benefits have improved,benefit improv,NaN,NaN,4.0,4.0,3.0,2.0,2.0
81129,81129,4.0,1,2011,discount card during thanksgiving and christmas,card christma discount thanksgiv,discount_card,NaN,3.0,2.0,3.0,3.0,4.0
81130,81130,3.0,1,2011,"great place to obtain, grow and learn.",grow learn obtain,NaN,NaN,1.0,3.0,2.0,1.0,2.0
81131,81131,2.0,1,2011,good discounts,discount,NaN,NaN,2.0,2.0,2.0,1.0,2.0
81132,81132,1.0,1,2011,easy work,easi,NaN,NaN,2.0,1.0,1.0,1.0,2.0