In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data_path = "~/Desktop/R_js/data1/estimates/combo.csv"
df = pd.read_csv(data_path)

In [2]:
df.head()

   Unnamed: 0  Topic_Num   Pro_Con      Pro_Con_p  Job_Status  Job_Status_p
0           1          1 -0.061635   0.000000e+00    0.006212  3.001617e-11
1           2          2 -0.022309  1.122779e-253   -0.000215  7.444755e-01
2           3          3 -0.073502   0.000000e+00    0.001435  3.494323e-01
3           4          4 -0.011246   1.990437e-63   -0.009945  1.872549e-40
4           5          5 -0.006629   1.203561e-25   -0.001405  4.104352e-02